<%- include header %>
<div class="modalvisble showannoumcementmodal provide-modal annoumcementlist" id="Tender">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><%= title %></h3>
            </div>
            <div class="modal-body">
            	<ul class="list-group content-ul">
            	<% zbannunces.forEach(function (zbannunce, index) { %>
            		<li>
            			<a href="/SupplierSignup/<%= zbannunce._id %>" class="showmodala linkshowmodal" target="_blank"><%= zbannunce.zb_project_description %></a>
            			<span class="date-annuce pull-right"><%= zbannunce.time.day %></span>
            		</li>
        		<% }) %>
            	</ul>
				<%- include paging %>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/javascripts/jquery.uploadify-v3.2/jquery.uploadify.js"></script>
<script src="/javascripts/jquery.uploadify-v3.2/swfobject.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/messages_bs_zh.js"></script>
<script src="/javascripts/jquery.metadata.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/javascripts/main.js"></script>
<script></script>
<%- include footer %>